


.sub{
  padding: 10px;
  text-align: center;
  color: var(--bg);
}
.subhead{
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.sub.lt{
  color: red;
  margin-top: 10px
}
.topic{
  color: var(--bg);
  font-weight: 700;
  font-size: 25px;
  margin: 10px;
  margin-top: 30px
}
.quest{
  font-size: 20px;
  margin:  10px 0px;
  color: var(--bg);
}
hr{
  background: #333 ;
  margin-top: 10px;
  border: black solid 0.7px;
  
}